{{define "base"}}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Freemoz.org a spiritual sucessor to dmoz.org</title>
    <link rel="stylesheet" type="text/css" href="/static/css/mvp.css">
    <link rel="stylesheet" type="text/css" href="/static/css/style.css">
    <link rel='shortcut icon' type='image/x-icon' href='/static/img/favicon.ico' />
    <script language="javascript" type="text/javascript" src="/static/js/script.js"></script>
  </head>
  <body>

    <header>
        <nav>
            <a href="https://freemoz.org/"><img alt="Freemoz" src="./img/logo.png" height="70"></a>
            <ul>
                <li><a href="/">Home</a></li>
                <li><a href="/about/">About</a></li>
                <li><a href="/become/">Become an Editor</a></li>
                <li><a href="/suggest/">Suggest a Site</a></li>
                <li><a href="/login/">Login</a></li>
                <li><a href="https://github.com/boyter/freemoz" target="_blank">GitHub &nearr;</a>
            </ul>
        </nav>
        <h1>Welcome to <u>Freemoz.org</u> a spiritual successor to dmoz.org</h1>
        <p>100% <b>open</b> and available forever</p>
      </header>

    <main>
      <!-- Content here -->
       {{template "body" .}}

      <p>
          <a href="https://github.com/boyter/freemoz">Free Software under GNU AGPL 3.0 License</a> |
          <a href="https://www.elegantthemes.com/blog/freebie-of-the-week/beautiful-flat-icons-for-free">Icons under GNU GPL 2.0 License</a> |
          <a href="https://creativecommons.org/licenses/by/3.0/">Content under Creative Commons Attribution 3.0 Unported License</a>
      </p>
      <!-- <div style="margin-top:20px;"> -->
          <!-- Requirement as per terms of DMOZ licence http://rdf.dmoz.org/ -->
          <!-- <center>
          <table style="background-color: #336600;" border="0" bgcolor="#336600" cellpadding="3" cellspacing="0">
          <tr><td>
          <table width="100%" cellpadding="2" cellspacing="0" border="0">
          <tr align="center"><td>
          <font face="sans-serif, Arial, Helvetica" size="2" color="#ffffff">
          Be part of the largest human-edited directory on the web.
          </font>
          </td></tr>
          <tr bgcolor="#f9f9f9" align="center">
          <td><font face="sans-serif, Arial, Helvetica" size="2">
          <a href="http://www.dmoz.org/docs/en/add.html">Suggest a Site</a> -
          <a href="http://www.dmoz.org/about.html"><b>DMOZ</b></a> -
          <a href="http://www.dmoz.org/docs/en/help/become.html">Become an Editor</a>
          </font></td></tr>
          </table>
          </td></tr>
          </table>
          </center> -->
      <!-- </div> -->
    </main>
  </body>
</html>
{{end}}