{{template "base" .}}
{{define "title"}}Freemoz.org a spiritual sucessor to dmoz.org{{end}}
{{define "body"}}

    <section>
        <header>
            <h2>Browse Categories</h2>
        </header>
        <aside>
            <img src="/static/img/icons/arts.png" alt="Arts" height="64px" width="64px" />
            <h3>Arts</h3>
            <p><a href="/arts/"><em>Arts</em></a></p>
        </aside>
        <aside>
            <img src="/static/img/icons/business.png" alt="Arts" height="64px" width="64px" />
            <h3>Business</h3>
            <p><a href="/business/"><em>Business</em></a></p>
        </aside>
        <aside>
           <img src="/static/img/icons/computers.png" alt="Arts" height="64px" width="64px" />
           <h3>Computers</h3>
           <p><a href="/arts/"><em>Computers</em></a></p>
        </aside>

        <aside>
            <img src="/static/img/icons/games.png" alt="Arts" height="64px" width="64px" />
            <h3>Games</h3>
            <p><a href="/games/"><em>Games</em></a></p>
        </aside>
        <aside>
            <img src="/static/img/icons/health.png" alt="Arts" height="64px" width="64px" />
            <h3>Health</h3>
            <p><a href="/health/"><em>Health</em></a></p>
        </aside>
        <aside>
           <img src="/static/img/icons/home.png" alt="Arts" height="64px" width="64px" />
           <h3>Home</h3>
           <p><a href="/home/"><em>Home</em></a></p>
        </aside>

        <aside>
            <img src="/static/img/icons/news.png" alt="Arts" height="64px" width="64px" />
            <h3>News</h3>
            <p><a href="/news/"><em>News</em></a></p>
        </aside>
        <aside>
            <img src="/static/img/icons/recreation.png" alt="Recreation" height="64px" width="64px" />
            <h3>Recreation</h3>
            <p><a href="/recreation/"><em>Recreation</em></a></p>
        </aside>
        <aside>
           <img src="/static/img/icons/reference.png" alt="Reference" height="64px" width="64px" />
           <h3>Reference</h3>
           <p><a href="/reference/"><em>Reference</em></a></p>
        </aside>

        <aside>
            <img src="/static/img/icons/regional.png" alt="Regional" height="64px" width="64px" />
            <h3>Regional</h3>
            <p><a href="/regional/"><em>Regional</em></a></p>
        </aside>
        <aside>
           <img src="/static/img/icons/science.png" alt="Science" height="64px" width="64px" />
           <h3>Science</h3>
           <p><a href="/science/"><em>Science</em></a></p>
        </aside>
        <aside>
            <img src="/static/img/icons/shopping.png" alt="Shopping" height="64px" width="64px" />
            <h3>Shopping</h3>
            <p><a href="/shopping/"><em>Shopping</em></a></p>
        </aside>

        <aside>
            <img src="/static/img/icons/society.png" alt="Society" height="64px" width="64px" />
            <h3>Society</h3>
            <p><a href="/society/"><em>Society</em></a></p>
        </aside>
        <aside>
           <img src="/static/img/icons/sports.png" alt="Sports" height="64px" width="64px" />
           <h3>Sports</h3>
           <p><a href="/sports/"><em>Sports</em></a></p>
        </aside>
        <aside>
            <img src="/static/img/icons/world.png" alt="World" height="64px" width="64px" />
            <h3>World</h3>
            <p><a href="/world/"><em>World</em></a></p>
        </aside>

    </section>

 </div>
</div>

{{end}}